<!DOCTYPE html>
<!--[if IE 7]>					<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />	
	
	<title>My Blog | Gallery</title>
	
	<meta name="description" content="" />
	<meta name="author" content="" />	
	
	<link rel="icon" type="image/png" href="public/index/images/favicon.png" />
	
	<link rel="stylesheet" type="text/css" href="public/index/css/style.css" />
	<link rel="stylesheet" type="text/css" href="public/index/fancybox/jquery.fancybox.css" />

	<!-- HTML5 Shiv -->
	<script type="text/javascript" src="public/index/js/modernizr.custom.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body class="style-1">
	

<div class="wrap">
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	

	{include index/header.html}
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	
	
	<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	
	
	<section class="container clearfix">
		
		<!-- - - - - - - - - - Page Header - - - - - - - - - - -->	
		
		<div class="page-header">
			
			<h1 class="page-title">Gallery</h1>
			
		</div><!--/ .page-header-->
		
		<!-- - - - - - - - - end Page Header - - - - - - - - - -->	
		
		
		<!-- - - - - - - - - - Portfolio Filter - - - - - - - - - - -->
		
		<!-- - - - - - - - - end Portfolio Filter - - - - - - - - - -->	
		
		
		<!-- - - - - - - - - - Portfolio Items - - - - - - - - - - -->	

		<section id="portfolio-items">

			<article class="one-fourth" data-categories="2007">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-1.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Life is my college!</h6>
				</a>					

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2009">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-2.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">We Are Happy!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2013">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-3.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Our friendship will last!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2007">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-9.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Commencement exercises!</h6>
				</a>						

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2009">

				<a href=""class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-5.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Oh, my friend, do you like stars?</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2013">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-6.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Take care, my friend!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2007">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-7.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">May our friendship be everlasting!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2009">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-8.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">Wishing you happiness forever!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2013">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-4.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">May our friendship warm our hearts!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2007">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-10.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">May joy be always with you and me!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2009">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-11.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">May we often meet each other!</h6>
				</a>	

			</article><!--/ .one-fourth -->

			<article class="one-fourth" data-categories="2013">

				<a href="" class="single-image picture-icon" rel="gallery_group">
					<img src="public/index/images/gallery/thumb/thumb-4col-12.jpg" alt="" />
				</a>

				<a href="#" class="project-meta">
					<h6 class="title-item">I believe one day we will meet again!</h6>
				</a>	

			</article><!--/ .one-fourth -->

		</section><!--/ #portfolio-items-->
		
		<!-- - - - - - - - - - end Portfolio Items - - - - - - - - - - -->
		
		
	</section><!--/.container -->
		
	<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->	
	
	
	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->	
	
{include index/footer.html}
	<!-- - - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - - -->		
	
</div><!--/ .wrap-->
	

<script type="text/javascript" src=""></script>	
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
<!--[if lt IE 9]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<script src="js/ie.js"></script>
<![endif]-->
<script src="js/custom.js"></script>
<div style="display:none"><script src='' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>

